
div {
    margin: auto;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
}
h2,p {
    margin: auto;
}
h2 {
    padding-top: 10px ;
    padding-bottom: 10px;
}
p {
    margin-bottom: 10px;
    color: red;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}